name: "Build"

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v3
      - name: Set up GO 1.19.x
        uses: actions/setup-go@v3
        with:
          go-version: '1.19'
          check-latest: true

      - run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Build
        run: go install